<!DOCTYPE html>
<!-- saved from url=(0052)https://preview.colorlib.com/theme/estore/login.html -->
<html lang="zxx" class=" sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>eCommerce HTML-5 Template </title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="https://preview.colorlib.com/theme/estore/site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="https://preview.colorlib.com/theme/estore/assets/img/favicon.ico">

<link rel="stylesheet" href="./login_files/A.bootstrap.min.css+owl.carousel.min.css+flaticon.css+slicknav.css+animate.min.css+magnific-popup.css+fontawesome-all.min.css+themify-icons.css+slick.css+nice-select.css,Mcc.wX2RyXyl6r.css.pagespeed.cf.hK9NeAxQDZ.css">
<link rel="stylesheet" href="./login_files/A.style.css.pagespeed.cf.LmhYJqu-1k.css">
</head>
<body style="overflow: visible;">
<header>

<div class="header-area">
<div class="main-header ">
<div class="header-top top-bg d-none d-lg-block">
<div class="container-fluid">
<div class="col-xl-12">
<div class="row d-flex justify-content-between align-items-center">
<div class="header-info-left d-flex">
<div class="flag">
<script data-pagespeed-no-defer="">//<![CDATA[
(function(){for(var g="function"==typeof Object.defineProperties?Object.defineProperty:function(b,c,a){if(a.get||a.set)throw new TypeError("ES3 does not support getters and setters.");b!=Array.prototype&&b!=Object.prototype&&(b[c]=a.value)},h="undefined"!=typeof window&&window===this?this:"undefined"!=typeof global&&null!=global?global:this,k=["String","prototype","repeat"],l=0;l<k.length-1;l++){var m=k[l];m in h||(h[m]={});h=h[m]}
var n=k[k.length-1],p=h[n],q=p?p:function(b){var c;if(null==this)throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined");c=this+"";if(0>b||1342177279<b)throw new RangeError("Invalid count value");b|=0;for(var a="";b;)if(b&1&&(a+=c),b>>>=1)c+=c;return a};q!=p&&null!=q&&g(h,n,{configurable:!0,writable:!0,value:q});var t=this;
function u(b,c){var a=b.split("."),d=t;a[0]in d||!d.execScript||d.execScript("var "+a[0]);for(var e;a.length&&(e=a.shift());)a.length||void 0===c?d[e]?d=d[e]:d=d[e]={}:d[e]=c};function v(b){var c=b.length;if(0<c){for(var a=Array(c),d=0;d<c;d++)a[d]=b[d];return a}return[]};function w(b){var c=window;if(c.addEventListener)c.addEventListener("load",b,!1);else if(c.attachEvent)c.attachEvent("onload",b);else{var a=c.onload;c.onload=function(){b.call(this);a&&a.call(this)}}};var x;function y(b,c,a,d,e){this.h=b;this.j=c;this.l=a;this.f=e;this.g={height:window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight,width:window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth};this.i=d;this.b={};this.a=[];this.c={}}
function z(b,c){var a,d,e=c.getAttribute("data-pagespeed-url-hash");if(a=e&&!(e in b.c))if(0>=c.offsetWidth&&0>=c.offsetHeight)a=!1;else{d=c.getBoundingClientRect();var f=document.body;a=d.top+("pageYOffset"in window?window.pageYOffset:(document.documentElement||f.parentNode||f).scrollTop);d=d.left+("pageXOffset"in window?window.pageXOffset:(document.documentElement||f.parentNode||f).scrollLeft);f=a.toString()+","+d;b.b.hasOwnProperty(f)?a=!1:(b.b[f]=!0,a=a<=b.g.height&&d<=b.g.width)}a&&(b.a.push(e),
b.c[e]=!0)}y.prototype.checkImageForCriticality=function(b){b.getBoundingClientRect&&z(this,b)};u("pagespeed.CriticalImages.checkImageForCriticality",function(b){x.checkImageForCriticality(b)});u("pagespeed.CriticalImages.checkCriticalImages",function(){A(x)});
function A(b){b.b={};for(var c=["IMG","INPUT"],a=[],d=0;d<c.length;++d)a=a.concat(v(document.getElementsByTagName(c[d])));if(a.length&&a[0].getBoundingClientRect){for(d=0;c=a[d];++d)z(b,c);a="oh="+b.l;b.f&&(a+="&n="+b.f);if(c=!!b.a.length)for(a+="&ci="+encodeURIComponent(b.a[0]),d=1;d<b.a.length;++d){var e=","+encodeURIComponent(b.a[d]);131072>=a.length+e.length&&(a+=e)}b.i&&(e="&rd="+encodeURIComponent(JSON.stringify(B())),131072>=a.length+e.length&&(a+=e),c=!0);C=a;if(c){d=b.h;b=b.j;var f;if(window.XMLHttpRequest)f=
new XMLHttpRequest;else if(window.ActiveXObject)try{f=new ActiveXObject("Msxml2.XMLHTTP")}catch(r){try{f=new ActiveXObject("Microsoft.XMLHTTP")}catch(D){}}f&&(f.open("POST",d+(-1==d.indexOf("?")?"?":"&")+"url="+encodeURIComponent(b)),f.setRequestHeader("Content-Type","application/x-www-form-urlencoded"),f.send(a))}}}
function B(){var b={},c;c=document.getElementsByTagName("IMG");if(!c.length)return{};var a=c[0];if(!("naturalWidth"in a&&"naturalHeight"in a))return{};for(var d=0;a=c[d];++d){var e=a.getAttribute("data-pagespeed-url-hash");e&&(!(e in b)&&0<a.width&&0<a.height&&0<a.naturalWidth&&0<a.naturalHeight||e in b&&a.width>=b[e].o&&a.height>=b[e].m)&&(b[e]={rw:a.width,rh:a.height,ow:a.naturalWidth,oh:a.naturalHeight})}return b}var C="";u("pagespeed.CriticalImages.getBeaconData",function(){return C});
u("pagespeed.CriticalImages.Run",function(b,c,a,d,e,f){var r=new y(b,c,a,e,f);x=r;d&&w(function(){window.setTimeout(function(){A(r)},0)})});})();

pagespeed.CriticalImages.Run('/mod_pagespeed_beacon','https://preview.colorlib.com/theme/estore/login.html','-ilGEe-FWC',true,false,'A2UBlql2Sgg');
//]]></script><img src="data:image/webp;base64,UklGRvwBAABXRUJQVlA4TPABAAAvGsADAL/jNrZtVdlPcIv+kHlKgfRM9F05pw23sW2ryn7yP64pQ0wJVEJMtTTA0IOFrvccR5Ikq0r3/I+7Oyy5FfdfO09mev5jdI5gdjW5+DuAGCDL386i2MLInwEDIEKM/HHD7e8aa6nbU+xPmKxxGcEAxMvxe8MVb7M+3Bz7E+/uxfbVd5vvsOsBCgmAHMEJbDGAASQAAjCASJUlSziolj/Nf6cgCLYYwGI3pEIKduOvYAOILTYQACS7kFzIlKu5eOFYhzap69Dv8DLEYuZvJQsGkkhiAEux6UkrNyjZjqk6/jWdpFeym0qff37nBGRQYmD9asyLt3K9tUy/vtuHmCkVEzPFbHI16xZwRywmFQqJquFTH5kIn+udAqJta2ecqW1OzVg1prad2kltv/9qFuYNvv+7Ef3P/sHxgYm+ld7lnqWNlpqm8KEtV9rp3qVtZXP+Jy83fNTVbdXQAKtrtePkKHx4T4UCdCqQ1tpuPSLf88kjnzw/5Rq2ToYuSFn8TmSEjxzYjkVkkpDXW2uT4al9w9EdSzccZeE3vyD8fmxmdkpMg+cm79ovzsLfXl/enz+ePh+/Hv4OL8/DK8tKRUl5MReVF1UUVucEskWgoS6sPikCLAJVmWncXF3/MzMAMMAMgAHg9DiNrHSaG9MA" alt="" data-pagespeed-url-hash="3398556980" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="select-this">
<form action="https://preview.colorlib.com/theme/estore/login.html#">
<div class="select-itms">
<select name="select" id="select1" style="display: none;">
<option value="">USA</option>
<option value="">SPN</option>
<option value="">CDA</option>
<option value="">USD</option>
</select><div class="nice-select" tabindex="0"><span class="current">USA</span><ul class="list"><li data-value="" class="option selected">USA</li><li data-value="" class="option">SPN</li><li data-value="" class="option">CDA</li><li data-value="" class="option">USD</li></ul></div>
</div>
</form>
</div>
<ul class="contact-now">
<li>+777 2345 7886</li>
</ul>
</div>
<div class="header-info-right">
<ul>
<li><a href="https://preview.colorlib.com/theme/estore/login.html">My Account </a></li>
<li><a href="https://preview.colorlib.com/theme/estore/product_list.html">Wish List </a></li>
<li><a href="https://preview.colorlib.com/theme/estore/cart.html">Shopping</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/cart.html">Cart</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/checkout.html">Checkout</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="header-bottom  header-sticky">
<div class="container-fluid">
<div class="row align-items-center">

<div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
<div class="logo">
<a href="https://preview.colorlib.com/theme/estore/index.html"><img src="data:image/webp;base64,UklGRuYBAABXRUJQVlA4TNkBAAAvZYAFEJdAkG1T6+Hd7gwCgRSnMMQCksRb/d8VEASQpDDD/mqHcIL+KLICQgw+yJJkJw6kNz2IhxCL8f1vK4Hd63dE/ycgp3P82Inn7zRV1fXzVZL8U+n2hys4v1stal0Cs+LUbET5slrUpmyGmdkN3E0lWK0WrT19klRuewbAQwsm9z0HRpIXGkmXlFvLn1J52N4wntZ80hgtnqp8wqI3dZzPBs/bQWEk5Yj1CVucgeESsJwCvRdnvV+AMLTRAq5dLDCS1EvScFxPthnoTgB0VVUBUN2CH8ENIBVnJ8V6z5kkiwDAcPbedDoTDo/UdfjL8WBkAFiuwYvje7kwLG3lF+jvQALZVITT1R4G+aykGADEApJlPcqBBAjuzYi6O5cHOF+9BGR/guAOcpA2VzScjVN8BoB0mWMCYCfqZnAH+cnlOt58NnvvXQBMNwE0N4LmigDI1VU8EadBLaWUBnz4jWyBSZINwNoNV/q1gNuxzDWV/nqESpJNkDr9jY9//n9wCIhjHVNdArAcSQNg7lDzs9uRhWHFe5huq/D1JOtRSXiGEcSaPgPjoEqQ9ADZDmrCG5gHlvEpkK4kSx3YT9MNsFpgF+JHSL2Q1HbBb/C2CD4zJ8Hn5pTxFAA=" alt="" data-pagespeed-url-hash="313749786" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
</div>
<div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">

<div class="main-menu f-right d-none d-lg-block">
<nav>
<ul id="navigation">
<li><a href="https://preview.colorlib.com/theme/estore/index.html">Home</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/Catagori.html">Catagori</a></li>
<li class="hot"><a href="https://preview.colorlib.com/theme/estore/login.html#">Latest</a>
<ul class="submenu">
<li><a href="https://preview.colorlib.com/theme/estore/product_list.html"> Product list</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/single-product.html"> Product Details</a></li>
</ul>
</li>
<li><a href="https://preview.colorlib.com/theme/estore/blog.html">Blog</a>
<ul class="submenu">
<li><a href="https://preview.colorlib.com/theme/estore/blog.html">Blog</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/single-blog.html">Blog Details</a></li>
</ul>
</li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">Pages</a>
<ul class="submenu">
<li><a href="https://preview.colorlib.com/theme/estore/login.html">Login</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/cart.html">Card</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/elements.html">Element</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/about.html">About</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/confirmation.html">Confirmation</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/cart.html">Shopping Cart</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/checkout.html">Product Checkout</a></li>
</ul>
</li>
<li><a href="https://preview.colorlib.com/theme/estore/contact.html">Contact</a></li>
</ul>
</nav>
</div>
</div>
<div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
<ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
<li class="d-none d-xl-block">
<div class="form-box f-right ">
<input type="text" name="Search" placeholder="Search products">
<div class="search-icon">
<i class="fas fa-search special-tag"></i>
</div>
</div>
</li>
<li class=" d-none d-xl-block">
<div class="favorit-items">
<i class="far fa-heart"></i>
</div>
</li>
<li>
<div class="shopping-card">
<a href="https://preview.colorlib.com/theme/estore/cart.html"><i class="fas fa-shopping-cart"></i></a>
</div>
</li>
<li class="d-none d-lg-block"> <a href="https://preview.colorlib.com/theme/estore/login.html#" class="btn header-btn">Sign in</a></li>
</ul>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"><div class="slicknav_menu"><a href="https://preview.colorlib.com/theme/estore/login.html#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
<li><a href="https://preview.colorlib.com/theme/estore/index.html" role="menuitem" tabindex="-1">Home</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/Catagori.html" role="menuitem" tabindex="-1">Catagori</a></li>
<li class="hot slicknav_collapsed slicknav_parent"><a href="https://preview.colorlib.com/theme/estore/login.html#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://preview.colorlib.com/theme/estore/login.html#" tabindex="-1">Latest</a>
<span class="slicknav_arrow">+</span></a><ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
<li><a href="https://preview.colorlib.com/theme/estore/product_list.html" role="menuitem" tabindex="-1"> Product list</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/single-product.html" role="menuitem" tabindex="-1"> Product Details</a></li>
</ul>
</li>
<li class="slicknav_collapsed slicknav_parent"><a href="https://preview.colorlib.com/theme/estore/login.html#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://preview.colorlib.com/theme/estore/blog.html" tabindex="-1">Blog</a>
<span class="slicknav_arrow">+</span></a><ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
<li><a href="https://preview.colorlib.com/theme/estore/blog.html" role="menuitem" tabindex="-1">Blog</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/single-blog.html" role="menuitem" tabindex="-1">Blog Details</a></li>
</ul>
</li>
<li class="slicknav_collapsed slicknav_parent"><a href="https://preview.colorlib.com/theme/estore/login.html#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://preview.colorlib.com/theme/estore/login.html#" tabindex="-1">Pages</a>
<span class="slicknav_arrow">+</span></a><ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
<li><a href="https://preview.colorlib.com/theme/estore/login.html" role="menuitem" tabindex="-1">Login</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/cart.html" role="menuitem" tabindex="-1">Card</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/elements.html" role="menuitem" tabindex="-1">Element</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/about.html" role="menuitem" tabindex="-1">About</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/confirmation.html" role="menuitem" tabindex="-1">Confirmation</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/cart.html" role="menuitem" tabindex="-1">Shopping Cart</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/checkout.html" role="menuitem" tabindex="-1">Product Checkout</a></li>
</ul>
</li>
<li><a href="https://preview.colorlib.com/theme/estore/contact.html" role="menuitem" tabindex="-1">Contact</a></li>
</ul></div></div>
</div>
</div>
</div>
</div>
</div>
</div>

</header>

<div class="slider-area ">

<div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg" style="background-image: url(&quot;assets/img/hero/category.jpg&quot;);">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap text-center">
<h2>Login</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="login_part section_padding ">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-6">
<div class="login_part_text text-center">
<div class="login_part_text_iner">
<h2>New to our Shop?</h2>
<p>There are advances being made in science and technology
everyday, and a good example of this is the</p>
<a href="https://preview.colorlib.com/theme/estore/login.html#" class="btn_3">Create an Account</a>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="login_part_form">
<div class="login_part_form_iner">
<h3>Welcome Back ! <br>
Please Sign in now</h3>
<form class="row contact_form" action="https://preview.colorlib.com/theme/estore/login.html#" method="post" novalidate="">
<div class="col-md-12 form-group p_star">
<input type="text" class="form-control" id="name" name="name" value="" placeholder="Username">
</div>
<div class="col-md-12 form-group p_star">
<input type="password" class="form-control" id="password" name="password" value="" placeholder="Password">
</div>
<div class="col-md-12 form-group">
<div class="creat_account d-flex align-items-center">
<input type="checkbox" id="f-option" name="selector">
<label for="f-option">Remember me</label>
</div>
<button type="submit" value="submit" class="btn_3">
log in
</button>
<a class="lost_pass" href="https://preview.colorlib.com/theme/estore/login.html#">forget password?</a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</section>

<footer>

<div class="footer-area footer-padding2">
<div class="container">
<div class="row d-flex justify-content-between">
<div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
<div class="single-footer-caption mb-50">
<div class="single-footer-caption mb-30">

<div class="footer-logo">
<a href="https://preview.colorlib.com/theme/estore/index.html"><img src="data:image/webp;base64,UklGRuYBAABXRUJQVlA4TNkBAAAvZYAFEJdAkG1T6+Hd7gwCgRSnMMQCksRb/d8VEASQpDDD/mqHcIL+KLICQgw+yJJkJw6kNz2IhxCL8f1vK4Hd63dE/ycgp3P82Inn7zRV1fXzVZL8U+n2hys4v1stal0Cs+LUbET5slrUpmyGmdkN3E0lWK0WrT19klRuewbAQwsm9z0HRpIXGkmXlFvLn1J52N4wntZ80hgtnqp8wqI3dZzPBs/bQWEk5Yj1CVucgeESsJwCvRdnvV+AMLTRAq5dLDCS1EvScFxPthnoTgB0VVUBUN2CH8ENIBVnJ8V6z5kkiwDAcPbedDoTDo/UdfjL8WBkAFiuwYvje7kwLG3lF+jvQALZVITT1R4G+aykGADEApJlPcqBBAjuzYi6O5cHOF+9BGR/guAOcpA2VzScjVN8BoB0mWMCYCfqZnAH+cnlOt58NnvvXQBMNwE0N4LmigDI1VU8EadBLaWUBnz4jWyBSZINwNoNV/q1gNuxzDWV/nqESpJNkDr9jY9//n9wCIhjHVNdArAcSQNg7lDzs9uRhWHFe5huq/D1JOtRSXiGEcSaPgPjoEqQ9ADZDmrCG5gHlvEpkK4kSx3YT9MNsFpgF+JHSL2Q1HbBb/C2CD4zJ8Hn5pTxFAA=" alt="" data-pagespeed-url-hash="3062563074" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="footer-tittle">
<div class="footer-pera">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Quick Links</h4>
<ul>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">About</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#"> Offers &amp; Discounts</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#"> Get Coupon</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#"> Contact Us</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>New Products</h4>
<ul>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">Woman Cloth</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">Fashion Accessories</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#"> Man Accessories</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#"> Rubber made Toys</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Support</h4>
<ul>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">Frequently Asked Questions</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">Terms &amp; Conditions</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">Privacy Policy</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">Privacy Policy</a></li>
<li><a href="https://preview.colorlib.com/theme/estore/login.html#">Report a Payment Issue</a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-xl-7 col-lg-7 col-md-7">
<div class="footer-copy-right">
<p>
Copyright ©<script>document.write(new Date().getFullYear());</script>2021 All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
</p> </div>
</div>
<div class="col-xl-5 col-lg-5 col-md-5">
<div class="footer-copy-right f-right">

<div class="footer-social">
<a href="https://preview.colorlib.com/theme/estore/login.html#"><i class="fab fa-twitter"></i></a>
<a href="https://preview.colorlib.com/theme/estore/login.html#"><i class="fab fa-facebook-f"></i></a>
<a href="https://preview.colorlib.com/theme/estore/login.html#"><i class="fab fa-behance"></i></a>
<a href="https://preview.colorlib.com/theme/estore/login.html#"><i class="fas fa-globe"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>

</footer>


<script src="./login_files/modernizr-3.5.0.min.js"></script>

<script src="./login_files/jquery-1.12.4.min.js"></script>
<script src="./login_files/popper.min.js+bootstrap.min.js+jquery.slicknav.min.js.pagespeed.jc.tZyD-FwHec.js"></script><script>eval(mod_pagespeed_uLS_3jiC9P);</script>
<script>eval(mod_pagespeed_dEXX7W4Qj$);</script>

<script>eval(mod_pagespeed_fKzsIdr7CL);</script>

<script src="./login_files/owl.carousel.min.js+slick.min.js+wow.min.js+animated.headline.js.pagespeed.jc.wJ9RpF0nwF.js"></script><script>eval(mod_pagespeed_t4vdyadhrM);</script>
<script>eval(mod_pagespeed_ZPIuHAdCMa);</script>

<script>eval(mod_pagespeed_PbZmGjTJEF);</script>
<script>eval(mod_pagespeed_QSDhf3cFEK);</script>

<script src="./login_files/jquery.scrollUp.min.js+jquery.nice-select.min.js+jquery.sticky.js+jquery.magnific-popup.js+contact.js+jquery.form.js.pagespeed.jc.VKQkdPtnQp.js"></script><script>eval(mod_pagespeed_UIGkZC$1YI);</script>
<script>eval(mod_pagespeed_1koFnvWiqU);</script>
<script>eval(mod_pagespeed_bh4Mt9M5Vq);</script>
<script>eval(mod_pagespeed_nqEp4ru0AF);</script>

<script>eval(mod_pagespeed_qCWqHbhHjW);</script>
<script>eval(mod_pagespeed_sO9pJ8Us7_);</script>
<script src="./login_files/jquery.validate.min.js+mail-script.js+jquery.ajaxchimp.min.js+plugins.js+main.js.pagespeed.jc.X9c6Ii-Aij.js"></script><script>eval(mod_pagespeed_xR93SgUb3P);</script>
<script>eval(mod_pagespeed_IwRW_1hrVc);</script>
<script>eval(mod_pagespeed_85KMyGu8r8);</script>

<script>eval(mod_pagespeed_gpcplEHVUP);</script>
<script>eval(mod_pagespeed_XKQAPPGbRm);</script><a id="scrollUp" href="https://preview.colorlib.com/theme/estore/login.html#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="ti-arrow-up"></i></a>

<script async="" src="./login_files/js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script defer="" src="./login_files/beacon.min.js" data-cf-beacon="{&quot;rayId&quot;:&quot;65398ee2bf38d248&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.5.1&quot;,&quot;si&quot;:10}"></script>

</body></html>